# Ignore EVERYTHING!
*

# src directory
!/src/**
!/src

# tests
!/tests
!/tests/**
!vitest.config.ts

# misc files
!tsdown.config.ts
!.gitignore
!LICENSE
!package-lock.json
!package.json
!README.md
!tsconfig.json