# Ignore EVERYTHING!
*

# src directory
!/src/**
!/src

# tests
!/tests
!/tests/**
!vitest.config.ts

# github workflows
!/.github
!/.github/**

# misc files
!CHANGELOG.md
!tsdown.config.ts
!.gitignore
!LICENSE
!package-lock.json
!package.json
!README.md
!tsconfig.json